services:
  telepirate:
    image: ${CI_REGISTRY_IMAGE}:${DOCKER_IMAGE_SEMANTIC_TAG}
    environment:
      - TELOXIDE_TOKEN=${TELOXIDE_TOKEN}
    cap_drop:
      - ALL
    restart: always
    stop_grace_period: 0s

networks:
  default:
    name: telegram
    external: true
