services:
  telepirate:
    image: gemtoo/telepirate:latest
    depends_on:
      - surrealdb
      - telegram-bot-api
    environment:
      - TELOXIDE_TOKEN=${TELOXIDE_TOKEN}
    env_file: ./.env
    volumes:
      - ./cookies:/app/cookies
    restart: always
    stop_grace_period: 0s

  surrealdb:
    image: surrealdb/surrealdb:v2.6.0
    command: ["start", "--log", "info", "--user", "root", "--pass", "root", "surrealkv://surrealdata"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      SURREAL_SYNC_DATA: "true"
    volumes:
      - surrealdata:/surrealdata:rw
    user: root
    restart: always
    stop_grace_period: 0s

  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    environment:
      - TELEGRAM_API_ID=${TELEGRAM_API_ID}
      - TELEGRAM_API_HASH=${TELEGRAM_API_HASH}
    env_file: ./.env
    restart: always
    stop_grace_period: 0s

volumes:
  surrealdata: {}
